@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.logo h1 {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
}

.logo h1 span {
    font-size: 4rem;
}

#O {
    color: #f59e0b;
}

#B {
    color: #10b981;

}